<section class="todolist-wrapper">
  <h1 class="title">Todo app</h1>
  <div class="new-todo">
    <input
      type="text"
      (keydown.enter)="addToDo()"
      placeholder="Add a new task"
      [formControl]="newTodo"
    />

    <button (click)="addToDo()">+</button>
  </div>

  <div class="filters">
    <button (click)="changeFilter('all')" [class.active]="filter() === 'all'">
      All
    </button>

    <button
      (click)="changeFilter('active')"
      [class.active]="filter() === 'active'"
    >
      Actives
    </button>
    <button
      (click)="changeFilter('completed')"
      [class.active]="filter() === 'completed'"
    >
      Completed
    </button>
  </div>
  <ul class="todolist">
    @for (todo of todolist(); track todo.id) { @if (todo.editing) {
    <li class="todo-editing">
      <input type="text" placeholder="Edit task" />
    </li>
    }@else {
    <li class="todo">
      <input type="checkbox" [checked]="todo.completed" (click)="toggleTodo(todo.id)"/>
      <label>{{ todo.title }}</label>
      @if (!todo.completed) {<button>Edit</button>}
      <button class="text-red-500" (click)="removeTodo(todo.id)">Delete</button>
    </li>
    } }
  </ul>
</section>
